body > div {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

body {
  margin: 0;
  background-color: #f9fafc;
  /* background: #f2f4f5; */
}
a {
  text-decoration: none;
}
.map_of_ukraine {
  align-self: center;
  max-width: 800px;
  width: 100%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.container,
.favorite_container {
  margin-top: 128px;
  box-shadow: 0px 1px 10px rgb(29 34 47 / 10%);
  max-width: 1200px;
  width: 100%;
  background-color: white;
}
.div_map_of_ukraine {
  width: inherit;
}
.svg_map_of_ukraine {
  width: inherit;
  height: inherit;
}
.region {
  fill: rgb(255 211 54);
}
.region:hover,
.city:hover {
  /* fill: rgb(255 214 67); */
  fill: rgb(255 219 92);
  cursor: pointer;
}
.list_block {
  padding: 34px 20px 20px 20px;
}
.search_input {
  font-family: 'Roboto', sans-serif;
  width: 78%;
  /* margin-top: 14px; */
  height: 36px;
  border: solid 1px #d9d9d9;
  border-radius: 3px;
  padding-left: 19px;
  font-size: 16px;
  font-weight: 400;
  color: #2c3145;
}
.search_input:focus {
  border: solid 1px #14bdee;
  outline: none;
}
.ul_list {
  list-style: none;
  padding: 0;
}
.ul_list li {
  border-bottom: 1px solid #e5e5e5;
}
.button_place {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: start;
  border: none;
  background: transparent;
  color: #384158;
  padding: 8px 6px;
  line-height: 1.5em;
}
.link {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.link:hover {
  color: #14bdee;
}
h1,
h2,
.title_place_info {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  color: #384158;
}
.info_message,
.error_message {
  position: relative;
  top: 20vh;
  text-align: center;
}
.title_start {
  text-align: center;
  font-size: 60px;
}
.title_start span {
  color: #14bdee;
}
.meta_place_info {
  font-size: 14px;
  font-weight: 400;
  margin-top: 14px;
  color: #b5b8be;
}
.url_place_info {
  color: #b5b8be;
  text-decoration: none;
}
.image_block_place_info {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  background-color: #1e2434;
  background-image: url('./background_place_image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.text_place_info {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #384158;
  margin-top: 29px;
  /* margin-bottom: 0; */
}
.place_info {
  margin: 20px;
}
.sort_block {
  display: inline-block;
  vertical-align: top;
  /* margin-top: 14px; */
  margin-left: 3px;
}
.radio_sort_container {
  display: inline-block;
  /* background-color: #181818; */
  /* -webkit-mask: url('./sort_rating.svg') no-repeat center;
  mask: url('./sort_alpha.svg'); */
  /* background-image: url('./sort_alpha.svg');
  background-color: white;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 35px;
  line-height: 35px;
  width: 35px;
  border: none;
}
.radio_sort_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  appearance: none;
}
.radio_sort {
  height: inherit;
  /* background-color: #181818; */
  background-color: #384158;
  border-radius: 3px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.radio_sort:hover {
  background-color: #14bdee;
}
.radio_sort_rating {
  -webkit-mask: url(./sort_rating.svg) no-repeat center;
  mask: url(./sort_rating.svg);
}
.radio_sort_alpha {
  -webkit-mask: url(./sort_alpha.svg) no-repeat center;
  mask: url(./sort_alpha.svg);
}
.radio_sort_container input:checked ~ .radio_sort {
  background-color: #14bdee;
  -webkit-mask: none;
  mask: none;
}
.radio_sort_container input:checked ~ .radio_sort_alpha {
  background-image: url('sort_alpha.svg');
}
.radio_sort_container input:checked ~ .radio_sort_rating {
  background-image: url('sort_rating.svg');
}
.check_favorite {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.check_favorite:checked ~ .button_favorite {
  background-color: white;
  color: #14bdee;
  border: 3px solid;
}
.check_favorite:checked ~ .button_favorite::before {
  content: 'Додано';
}
.button_favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: fit-content; */
  padding: 0px 29px;
  width: 185px;
  height: 46px;
  background: #14bdee;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: inherit;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.button_favorite::before {
  content: 'Додати в обране';
}
.button_favorite:hover {
  box-shadow: 0px 5px 40px rgb(29 34 47 / 15%);
}
.favorite_container {
  display: flex;
  flex-flow: column wrap;
  gap: 30px;
  align-content: center;
  padding: 70px 0px;
  min-height: 480px;
}
.favorite_place {
  width: 360px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgb(29 34 47 / 10%);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.favorite_place:hover {
  box-shadow: 0px 5px 40px rgb(29 34 47 / 15%);
}
.favorite_place_image {
  background-color: lavender;
  object-fit: none;
  object-position: center;
  max-height: 250px;
  min-width: 100%;
}
.favorite_place_body {
  padding-left: 32px;
  padding-right: 30px;
  padding-top: 23px;
  padding-bottom: 23px;
}
.favorite_place_title {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
  text-decoration: none;
  color: #384158;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.favorite_place_meta {
  margin-top: 11px;
  font-size: 14px;
  font-weight: 400;
  color: #b5b8be;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.favorite_place_text {
  margin-top: 12px;
}
.favorite_place_text > p {
  font-size: 14px;
  font-weight: 400;
  color: #76777a;
  line-height: 2;
}
p:last-of-type {
  margin-bottom: 0;
}
.header {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 5px 20px rgb(0 0 0 / 5%);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.header_content {
  display: flex;
  align-items: center;
  height: 90px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.header.scrolled .header_content {
  height: 60px;
}

.logo_text {
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 0.75;
  color: #384158;
  vertical-align: middle;
  margin-left: 4px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.header.scrolled .logo_text {
  font-size: 24px;
}
.logo_text span {
  color: #14bdee;
}
.main_nav_container {
  margin-left: auto;
}
.main_nav li {
  display: inline-block;
  position: relative;
  margin-right: 44px;
}
.main_nav li button {
  font-size: 18px;
  font-weight: 500;
  color: #384158;
  border: none;
  background-color: white;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.main_nav li button:hover {
  color: #14bdee;
}
